body
{
	color: red;
}

div.one-news
{
	width: 47.5%;
}

div.one-news-second
{
	margin: 0;
}

div.one-news-last
{
	clear: both;
	float: none;
	width: 100%;
	padding-top: 20px;
}


header label:hover{
	cursor: pointer;
	background: rgba(0,0,0,0.3);
}
@media all and (max-width:768px){
	body
	{
		color: aqua;
	}
header label
	{
		display: block;
		width: 30px;
		height: 30px;
		padding: 10px;
		border-right: 1px solid #fff;
	}
	
	.menu
	{
		height: 100%;
		position: absolute;
		margin-left: -200px;
		transition: all 0.5s;
	}
	
	.menu ul
	{
		flex-direction: column;
		
	}
	#dws-menu:checked ~ .menu
	{
		margin: 0;
	}
}



@media all and (max-width:500px){
	body
	{
		color:green;
	}
}